/* $main-panel
 ------------------------------------------*/

.main-panel {
  .clearfix();
  background: @main-panel-bg;
  min-height: 100%;
  .clearfix();
  &::after {
    content: '';
    height: @footer-height;
  }
  > .main-content {
    .clearfix();
    padding: @gutter;
  }

  .page-title {
    background-color: lighten(@main-panel-bg, 3%);
    border-bottom: 1px solid @border-color;
    padding: 0.3125rem @gutter;
    margin-left: -@gutter;
    margin-right: -@gutter;
    margin-top: -@gutter;
    margin-bottom: @gutter;
    .title {
      font-size: 1.125rem;
    }
    .breadcrumb {
      margin: 0;
      padding: 0;
    }
    .btn {
      margin-top: ((3rem - 1.875rem) / 2);
      margin-bottom: ((3rem - 1.875rem) / 2);
    }
  }
}

.center-wrapper {
  display: table;
  .square(100%);
  position: relative;
  .center-content {
    display: table-cell;
    vertical-align: middle;
    .square(100%);
    float: none;
  }
}

@media screen and (min-width: @screen-sm-min) {
  .main-panel {
    margin-left: @sidebar-width;
  }
}


.row {
  margin-right: (@gutter / -2);
  margin-left: (@gutter / -2);
}

.grid-columns() {
  // Common styles for all sizes of grid columns, widths 1-12
  .col(@index) { // initial
    @item: ~".col-xs-@{index}, .col-sm-@{index}, .col-md-@{index}, .col-lg-@{index}";
    .col((@index + 1), @item);
  }
  .col(@index, @list) when (@index =< @grid-columns) { // general; "=<" isn't a typo
    @item: ~".col-xs-@{index}, .col-sm-@{index}, .col-md-@{index}, .col-lg-@{index}";
    .col((@index + 1), ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @grid-columns) { // terminal
    @{list} {
      position: relative;
      // Prevent columns from collapsing when empty
      min-height: 1px;
      // Inner gutter via padding
      padding-left:  (@grid-gutter-width / 2);
      padding-right: (@grid-gutter-width / 2);
    }
  }
  .col(1); // kickstart it
}

.grid-columns();
